In [1]:
# predict customer will leave or not bank

In [2]:
# arificial neaural network

In [3]:
# part-1 data preprocessing

In [5]:
import numpy as np
import pandas as pd

In [8]:
data = pd.read_csv('/content/drive/MyDrive/PredictCustomerWillLeaveTheBank/BankCustomers.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [11]:
# RowNumber, CustomerId, Surname are not important so will be dropped

In [13]:
newdata = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
newdata.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [16]:
newdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [17]:
# Geography, Gender are categorical columns so will convert into numbers

In [18]:
newdata['Gender'].unique()

array(['Female', 'Male'], dtype=object)

In [19]:
newdata['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [20]:
gender = pd.get_dummies(newdata['Gender'], drop_first=True)
states = pd.get_dummies(newdata['Geography'], drop_first=True)

In [25]:
finaldata = pd.concat([newdata,gender, states], axis=1)

In [39]:
finaldata = finaldata.drop(['Gender', 'Geography'], axis=1)

In [41]:
finaldata.head()

   CreditScore  Age  Tenure    Balance  ...  Exited  Male  Germany  Spain
0          619   42       2       0.00  ...       1     0        0      0
1          608   41       1   83807.86  ...       0     0        0      1
2          502   42       8  159660.80  ...       1     0        0      0
3          699   39       1       0.00  ...       0     0        0      0
4          850   43       2  125510.82  ...       0     0        0      1

[5 rows x 12 columns]

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
X = finaldata.drop('Exited', axis=1)
y = finaldata['Exited']

In [44]:
X.head()

   CreditScore  Age  Tenure    Balance  ...  EstimatedSalary  Male  Germany  Spain
0          619   42       2       0.00  ...        101348.88     0        0      0
1          608   41       1   83807.86  ...        112542.58     0        0      1
2          502   42       8  159660.80  ...        113931.57     0        0      0
3          699   39       1       0.00  ...         93826.63     0        0      0
4          850   43       2  125510.82  ...         79084.10     0        0      1

[5 rows x 11 columns]

In [45]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [46]:
X_train, X_test, y_train, y_test = train = train_test_split(X, y, test_size=0.2, random_state=0)

In [47]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [48]:
# part-2 making a model

In [49]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [50]:
classifier = Sequential()

In [51]:
classifier.add(Dense(activation='relu', input_dim=11, units=6, kernel_initializer='uniform'))

In [52]:
classifier.add(Dense(activation='relu', kernel_initializer='uniform', units=6))

In [53]:
classifier.add(Dense(activation='sigmoid', kernel_initializer='uniform', units=1))

In [54]:
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [55]:
classifier.fit(X_train, y_train, batch_size=10, epochs=100)

Epoch 1/100
800/800 [==============================] - 1s 951us/step - loss: 0.5748 - accuracy: 0.7982
Epoch 2/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4427 - accuracy: 0.7865
Epoch 3/100
800/800 [==============================] - 1s 975us/step - loss: 0.4287 - accuracy: 0.7972
Epoch 4/100
800/800 [==============================] - 1s 982us/step - loss: 0.4194 - accuracy: 0.7985
Epoch 5/100
800/800 [==============================] - 1s 946us/step - loss: 0.4226 - accuracy: 0.8183
Epoch 6/100
800/800 [==============================] - 1s 956us/step - loss: 0.4214 - accuracy: 0.8212
Epoch 7/100
800/800 [==============================] - 1s 988us/step - loss: 0.4181 - accuracy: 0.8284
Epoch 8/100
800/800 [==============================] - 1s 946us/step - loss: 0.4166 - accuracy: 0.8243
Epoch 9/100
800/800 [==============================] - 1s 957us/step - loss: 0.4210 - accuracy: 0.8264
Epoch 10/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4111 - accuracy: 0.8337
Epoch 11/100
800/800 [==============================] - 1s 945us/step - loss: 0.4032 - accuracy: 0.8410
Epoch 12/100
800/800 [==============================] - 1s 974us/step - loss: 0.4013 - accuracy: 0.8398
Epoch 13/100
800/800 [==============================] - 1s 946us/step - loss: 0.4081 - accuracy: 0.8319
Epoch 14/100
800/800 [==============================] - 1s 956us/step - loss: 0.3973 - accuracy: 0.8392
Epoch 15/100
800/800 [==============================] - 1s 966us/step - loss: 0.3994 - accuracy: 0.8392
Epoch 16/100
800/800 [==============================] - 1s 962us/step - loss: 0.3937 - accuracy: 0.8417
Epoch 17/100
800/800 [==============================] - 1s 938us/step - loss: 0.4087 - accuracy: 0.8334
Epoch 18/100
800/800 [==============================] - 1s 967us/step - loss: 0.4089 - accuracy: 0.8295
Epoch 19/100
800/800 [==============================] - 1s 965us/step - loss: 0.4019 - accuracy: 0.8362
Epoch 20/100
800/800 [==============================] - 1s 984us/step - loss: 0.4090 - accuracy: 0.8351
Epoch 21/100
800/800 [==============================] - 1s 993us/step - loss: 0.4049 - accuracy: 0.8353
Epoch 22/100
800/800 [==============================] - 1s 971us/step - loss: 0.4077 - accuracy: 0.8328
Epoch 23/100
800/800 [==============================] - 1s 941us/step - loss: 0.4050 - accuracy: 0.8363
Epoch 24/100
800/800 [==============================] - 1s 998us/step - loss: 0.4155 - accuracy: 0.8290
Epoch 25/100
800/800 [==============================] - 1s 976us/step - loss: 0.3943 - accuracy: 0.8412
Epoch 26/100
800/800 [==============================] - 1s 986us/step - loss: 0.4174 - accuracy: 0.8266
Epoch 27/100
800/800 [==============================] - 1s 965us/step - loss: 0.3960 - accuracy: 0.8362
Epoch 28/100
800/800 [==============================] - 1s 981us/step - loss: 0.3952 - accuracy: 0.8403
Epoch 29/100
800/800 [==============================] - 1s 974us/step - loss: 0.4055 - accuracy: 0.8316
Epoch 30/100
800/800 [==============================] - 1s 973us/step - loss: 0.3966 - accuracy: 0.8385
Epoch 31/100
800/800 [==============================] - 1s 976us/step - loss: 0.4125 - accuracy: 0.8272
Epoch 32/100
800/800 [==============================] - 1s 993us/step - loss: 0.4024 - accuracy: 0.8337
Epoch 33/100
800/800 [==============================] - 1s 969us/step - loss: 0.4036 - accuracy: 0.8383
Epoch 34/100
800/800 [==============================] - 1s 985us/step - loss: 0.4064 - accuracy: 0.8296
Epoch 35/100
800/800 [==============================] - 1s 965us/step - loss: 0.4013 - accuracy: 0.8344
Epoch 36/100
800/800 [==============================] - 1s 949us/step - loss: 0.4078 - accuracy: 0.8310
Epoch 37/100
800/800 [==============================] - 1s 1ms/step - loss: 0.4113 - accuracy: 0.8332
Epoch 38/100
800/800 [==============================] - 1s 975us/step - loss: 0.4018 - accuracy: 0.8343
Epoch 39/100
800/800 [==============================] - 1s 959us/step - loss: 0.3898 - accuracy: 0.8389
Epoch 40/100
800/800 [==============================] - 1s 974us/step - loss: 0.3953 - accuracy: 0.8413
Epoch 41/100
800/800 [==============================] - 1s 983us/step - loss: 0.4076 - accuracy: 0.8344
Epoch 42/100
800/800 [==============================] - 1s 974us/step - loss: 0.3917 - accuracy: 0.8387
Epoch 43/100
800/800 [==============================] - 1s 978us/step - loss: 0.4014 - accuracy: 0.8364
Epoch 44/100
800/800 [==============================] - 1s 977us/step - loss: 0.4005 - accuracy: 0.8400
Epoch 45/100
800/800 [==============================] - 1s 985us/step - loss: 0.3993 - accuracy: 0.8364
Epoch 46/100
800/800 [==============================] - 1s 961us/step - loss: 0.3974 - accuracy: 0.8361
Epoch 47/100
800/800 [==============================] - 1s 976us/step - loss: 0.4069 - accuracy: 0.8348
Epoch 48/100
800/800 [==============================] - 1s 979us/step - loss: 0.3971 - accuracy: 0.8388
Epoch 49/100
800/800 [==============================] - 1s 968us/step - loss: 0.4089 - accuracy: 0.8283
Epoch 50/100
800/800 [==============================] - 1s 977us/step - loss: 0.4034 - accuracy: 0.8355
Epoch 51/100
800/800 [==============================] - 1s 977us/step - loss: 0.4134 - accuracy: 0.8275
Epoch 52/100
800/800 [==============================] - 1s 968us/step - loss: 0.3929 - accuracy: 0.8395
Epoch 53/100
800/800 [==============================] - 1s 970us/step - loss: 0.4100 - accuracy: 0.8335
Epoch 54/100
800/800 [==============================] - 1s 960us/step - loss: 0.3990 - accuracy: 0.8397
Epoch 55/100
800/800 [==============================] - 1s 979us/step - loss: 0.3990 - accuracy: 0.8355
Epoch 56/100
800/800 [==============================] - 1s 969us/step - loss: 0.4029 - accuracy: 0.8344
Epoch 57/100
800/800 [==============================] - 1s 974us/step - loss: 0.4104 - accuracy: 0.8292
Epoch 58/100
800/800 [==============================] - 1s 968us/step - loss: 0.4033 - accuracy: 0.8359
Epoch 59/100
800/800 [==============================] - 1s 972us/step - loss: 0.3936 - accuracy: 0.8399
Epoch 60/100
800/800 [==============================] - 1s 943us/step - loss: 0.4002 - accuracy: 0.8343
Epoch 61/100
800/800 [==============================] - 1s 961us/step - loss: 0.3988 - accuracy: 0.8322
Epoch 62/100
800/800 [==============================] - 1s 973us/step - loss: 0.3971 - accuracy: 0.8336
Epoch 63/100
800/800 [==============================] - 1s 977us/step - loss: 0.3966 - accuracy: 0.8363
Epoch 64/100
800/800 [==============================] - 1s 987us/step - loss: 0.4014 - accuracy: 0.8383
Epoch 65/100
800/800 [==============================] - 1s 991us/step - loss: 0.3953 - accuracy: 0.8391
Epoch 66/100
800/800 [==============================] - 1s 964us/step - loss: 0.3890 - accuracy: 0.8431
Epoch 67/100
800/800 [==============================] - 1s 966us/step - loss: 0.3903 - accuracy: 0.8441
Epoch 68/100
800/800 [==============================] - 1s 982us/step - loss: 0.3894 - accuracy: 0.8432
Epoch 69/100
800/800 [==============================] - 1s 969us/step - loss: 0.4023 - accuracy: 0.8377
Epoch 70/100
800/800 [==============================] - 1s 992us/step - loss: 0.3999 - accuracy: 0.8351
Epoch 71/100
800/800 [==============================] - 1s 979us/step - loss: 0.3900 - accuracy: 0.8448
Epoch 72/100
800/800 [==============================] - 1s 958us/step - loss: 0.3972 - accuracy: 0.8360
Epoch 73/100
800/800 [==============================] - 1s 996us/step - loss: 0.3916 - accuracy: 0.8443
Epoch 74/100
800/800 [==============================] - 1s 984us/step - loss: 0.3965 - accuracy: 0.8364
Epoch 75/100
800/800 [==============================] - 1s 972us/step - loss: 0.3999 - accuracy: 0.8369
Epoch 76/100
800/800 [==============================] - 1s 998us/step - loss: 0.3878 - accuracy: 0.8417
Epoch 77/100
800/800 [==============================] - 1s 976us/step - loss: 0.3880 - accuracy: 0.8419
Epoch 78/100
800/800 [==============================] - 1s 977us/step - loss: 0.3897 - accuracy: 0.8402
Epoch 79/100
800/800 [==============================] - 1s 982us/step - loss: 0.3951 - accuracy: 0.8382
Epoch 80/100
800/800 [==============================] - 1s 970us/step - loss: 0.3870 - accuracy: 0.8436
Epoch 81/100
800/800 [==============================] - 1s 999us/step - loss: 0.3951 - accuracy: 0.8395
Epoch 82/100
800/800 [==============================] - 1s 970us/step - loss: 0.4110 - accuracy: 0.8279
Epoch 83/100
800/800 [==============================] - 1s 974us/step - loss: 0.3986 - accuracy: 0.8374
Epoch 84/100
800/800 [==============================] - 1s 993us/step - loss: 0.4086 - accuracy: 0.8301
Epoch 85/100
800/800 [==============================] - 1s 986us/step - loss: 0.4016 - accuracy: 0.8334
Epoch 86/100
800/800 [==============================] - 1s 984us/step - loss: 0.3961 - accuracy: 0.8342
Epoch 87/100
800/800 [==============================] - 1s 985us/step - loss: 0.3983 - accuracy: 0.8391
Epoch 88/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3999 - accuracy: 0.8392
Epoch 89/100
800/800 [==============================] - 1s 970us/step - loss: 0.4016 - accuracy: 0.8314
Epoch 90/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3904 - accuracy: 0.8386
Epoch 91/100
800/800 [==============================] - 1s 990us/step - loss: 0.3946 - accuracy: 0.8376
Epoch 92/100
800/800 [==============================] - 1s 977us/step - loss: 0.3851 - accuracy: 0.8442
Epoch 93/100
800/800 [==============================] - 1s 974us/step - loss: 0.4052 - accuracy: 0.8349
Epoch 94/100
800/800 [==============================] - 1s 982us/step - loss: 0.3957 - accuracy: 0.8349
Epoch 95/100
800/800 [==============================] - 1s 979us/step - loss: 0.4119 - accuracy: 0.8320
Epoch 96/100
800/800 [==============================] - 1s 967us/step - loss: 0.3960 - accuracy: 0.8354
Epoch 97/100
800/800 [==============================] - 1s 986us/step - loss: 0.3980 - accuracy: 0.8335
Epoch 98/100
800/800 [==============================] - 1s 984us/step - loss: 0.3868 - accuracy: 0.8426
Epoch 99/100
800/800 [==============================] - 1s 966us/step - loss: 0.3990 - accuracy: 0.8386
Epoch 100/100
800/800 [==============================] - 1s 978us/step - loss: 0.3908 - accuracy: 0.8412

In [56]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix,accuracy_score
cm = confusion_matrix(y_test, y_pred)
accuracy=accuracy_score(y_test,y_pred)

In [58]:
print(accuracy)

0.8415

In [60]:
print(cm)

[[1530   65]
 [ 252  153]]